

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .navbar-default{
   	background-image: none;
   	background-color: #D7B52A;
   	border-color: #B29724;
   }

   input.form-control{
   	border-radius: 40px;
   }

   .navbar-default .navbar-brand{
   	color: black;
   	font-weight: bold;
   }

   .btn-link{
   	color: black;
   }

   .active>a.foo{
   	background-image: none;
   	background-color: #B29724;
   }

   .navbar-default .navbar-nav>.active>a{
   	background-image: none;
   	background-color: #C4A62A;
   }

   .navbar-default .navbar-nav>.active>a:hover{
   	background-image: none;
   	background-color: #B29724;
   }

   .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
   	background-color: #D7B52A;
   }

   .navbar-default .navbar-toggle{
   	background-color: white;
   }



















